﻿@model LiveMusicFinder.Models.LiveShow

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LiveShow</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EnteredBy" />
            <div class="form-group">
                <label asp-for="Artist" class="control-label"></label>
                <input asp-for="Artist" class="form-control" />
                <span asp-validation-for="Artist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue" class="control-label"></label>
                <select asp-for="Venue" id="venues"></select>
                <span asp-validation-for="Venue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShowDate" class="control-label"></label>
                <input asp-for="ShowDate" class="form-control" />
                <span asp-validation-for="ShowDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        $.ajax({
            "type": "GET",
            "url": "/LiveShows/GetArtistAvenues",
            "data": {},
            success: function (data) {
                var options;
                for (var i = 0; i < data.length; i++) {
                    options += `<option value=${data[i].name}>${data[i].name}</option>`;
                }
                $("#venues").html(options);
            }
        });
    });
</script>
